ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME=AccentColor
ASSETCATALOG_COMPILER_WIDGET_BACKGROUND_COLOR_NAME=WidgetBackground
CODE_SIGN_STYLE=Automatic
CURRENT_PROJECT_VERSION=4
DEVELOPMENT_TEAM=6Y9C574C9M
GENERATE_INFOPLIST_FILE=YES
INFOPLIST_FILE=NaptimeWidget/Info.plist
INFOPLIST_KEY_CFBundleDisplayName=NaptimeWidget
INFOPLIST_KEY_NSHumanReadableCopyright=
IPHONEOS_DEPLOYMENT_TARGET=16.2
MARKETING_VERSION=1.3.0
PRODUCT_BUNDLE_IDENTIFIER=com.hotky.Naptime.NaptimeWidget
PRODUCT_NAME=$(TARGET_NAME)
SDKROOT=iphoneos
SKIP_INSTALL=YES
SWIFT_EMIT_LOC_STRINGS=YES
SWIFT_VERSION=5.0
TARGETED_DEVICE_FAMILY=1,2

LD_RUNPATH_SEARCH_PATHS[config=Debug]=$(inherited) @executable_path/Frameworks @executable_path/../../Frameworks
LD_RUNPATH_SEARCH_PATHS[config=Release]=$(inherited) @executable_path/Frameworks @executable_path/../../Frameworks
VALIDATE_PRODUCT[config=Release]=YES